#card {
    width: 400px;
    background-color: white;
    padding: 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#card h2 {
    text-align: center;
    font-size: 30px;
}

#card figure img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#card ul {
    height: 96px;
}

#card li {
    display: flex;
    align-items: center;
    gap: 7px;
}
